.hero {
	@apply relative py-24 md:py-32 bg-gradient-to-br from-soil to-rolandGreen text-white;
	background-image: url('/assets/hero.JPG');
	background-size: cover;
	background-position: center;
}

.content {
	@apply max-w-3xl mx-auto text-center;
}
